In [1]:
# import packages to use
import pandas as pd
import requests       # HTTP protocol request package

In [2]:
# Function that checks the website exist
# Return 1 for existing website, 0 for non existing
def check_website_exists(url):
    try:
        response = requests.get(url)
        return int(response.status_code == 200)
    except requests.ConnectionError:
        return 0

In [18]:
def company_filtering(dataset):
    """
    Function for filtering into existing and not existing company
    For further use, make sure to check the dataset has right columns
    The function will output as exporting csv files.
    """
    # Define company domain list (revenue 100 ~ 500)
    ## If there's many company, it takes a lot of time
    company = dataset[['Name','Email','Company','Domain']].dropna(subset=['Domain'])
    non_existing_co = pd.DataFrame(columns=['Name', 'Email', 'Company', 'Domain'])

    # Iterate over the rows of the Domain column, if the website doesn't exist, drop it.
    for index, row in company.iterrows():
        domain = row['Domain']
        if check_website_exists("http://" + domain) == 0:
            new_row = pd.Series(row, index=company.columns)
            # Add non-existing company row to the non-existing DataFrame
            non_existing_co = pd.concat([non_existing_co, pd.DataFrame([new_row])], ignore_index=True)
            # Drop the non-existing company row from the existing DataFrame
            company = company.drop(index, axis=0)
            

    # Reset the index for both DataFrames
    company.reset_index(drop=True, inplace=True)
    non_existing_co.reset_index(drop=True, inplace=True)

    return company, non_existing_co

# Data Filtering

Data filteration for each revenue of the companies
- Revenue 100 ~ 500 [✓]
- Revenue 1k ~ 5k 
- Revenue 5k ~ 10k
- Revenue 10k ~ 25k
- Revenue 50k ~ 100k
- Revenue 100k ~ 200k
- Revenue 200k plus

---
### Revenue 100 ~ 500

In [19]:
# Revenue 100 ~ 500
rev_basic = pd.read_csv('dataset/revenue_100_500.csv')
rev_basic.head()

,Email,Name,Keyword,F4,Domain,Sales Revenue USD,Company
0,cposner@lfsurf.com,C. Posner,foundation,11/21/22 3:21,lfsurf.com,498,lfsurf
1,claire@operationmasks.org,Claire,org,12/7/22 4:59,operationmasks.org,495,operationmasks
2,nasserally@nassfitness.com,Erally Nass,community,12/9/22 0:37,nassfitness.com,485,nassfitness
3,lino.miani@combatdiver.org,Lino Miani,org,12/7/22 4:59,combatdiver.org,483,combatdiver
4,annakarin@formerabeauty.com,Ann Akarin,foundation,11/21/22 3:21,formerabeauty.com,478,formerabeauty

In [20]:
# Divide Datasheet into existing and nonexisting
existing, nonexisting = company_filtering(rev_basic)

In [21]:
# Export to CSV
existing.to_csv("company_result/company_100_500.csv", index=False)
nonexisting.to_csv("company_result/company_100_500_nonexist.csv", index=False)

---
### Revenue 25k ~ 50k

In [24]:
# Revenue 100 ~ 500
rev_25to50 = pd.read_csv('dataset/revenue_25k_50k.csv')
rev_25to50.head()

,Email,Name,Keyword,F4,Domain,Sales Revenue USD,Company,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Rob@nootkas.com,Rob,sustainable-keyword,2022-11-21 03:19:09,nootkas.com,49994.0,nootkas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,lauren@elmsstore.com.au,Lauren,carbon-click-software,2022-12-09 02:05:32,elmsstore.com.au,49959.0,elmsstore,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bobby@evaswild.com,Bobby,community,2022-12-09 00:37:26,evaswild.com,49956.0,evaswild,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,danielle.francis@bloommoda.com,Danielle Francis,sustainable-keyword,2022-11-21 03:18:54,bloommoda.com,49910.0,bloommoda,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,equinn@grantblvd.com,E. Quinn,sustainable-keyword,2022-11-21 03:18:57,grantblvd.com,49910.0,grantblvd,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Divide Datasheet into existing and nonexisting
existing, nonexisting = company_filtering(rev_basic)

In [ ]:
# Export to CSV
existing.to_csv("company_result/company_25k_50k.csv", index=False)
nonexisting.to_csv("company_result/company_25k_50k_nonexist.csv", index=False)

---