In [2]:
# import packages to use
import pandas as pd
import requests       # HTTP protocol request package

In [3]:
def company_filtering(dataset):
    """
    Function for filtering into existing and not existing company
    For further use, make sure to check the dataset has right columns
    The function will output as exporting csv files.
    """
    # Define company domain list (revenue 100 ~ 500)
    ## If there's many company, it takes a lot of time
    company = dataset[['Name','Email','Company','Domain']].dropna(subset=['Domain'])
    # Iterate over the rows of the Domain column, if the website doesn't exist, drop it.

    return company

In [4]:

rev_basic = pd.read_csv('/home/lettuce/WorkCode/SalesNavigator/linkedin_from_excel/dataset/revenue_1k_5k.csv')
rev_basic.head()

,Email,Name,Keyword,F4,Domain,Sales Revenue USD,Company,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,aj@responsibilityfoundation.org,Aj (Responsibilityfoundation),org,2022-12-07 04:59:11,responsibilityfoundation.org,4960.0,responsibilityfoundation,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kristen@wecollide.net,Kristen,christian-keyword,2022-11-21 03:43:58,wecollide.net,4954.0,wecollide,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ceo@thaidirect.co,Ceo (Thaidirect),christian-keyword,2022-11-21 03:43:58,thaidirect.co,4944.0,thaidirect,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jovani@keepitreel.net,Jovan I.,community,2022-12-09 00:37:31,keepitreel.net,4944.0,keepitreel,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tracy@masteryhq.net,Tracy,community,2022-12-09 00:37:28,masteryhq.net,4944.0,masteryhq,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Divide Datasheet into existing and nonexisting
existing = company_filtering(rev_basic)

In [6]:
# Export to CSV

existing.to_csv("/home/lettuce/WorkCode/SalesNavigator/linkedin_from_excel/company_result/NA", index=False)