In [2]:
import pandas as pd
import numpy as np

In [4]:
dataframe = pd.read_csv('company_result/company_100_500.csv')

df = dataframe["Company"]

for x in range(len(df)):
    print(df[x])

operation masks
pinecrestgardens
karposmultimedia
dyckmanbeerco
suaspontefoundation
nassfitness
combatdiver
dawnbreakerfarms
CrossFitNewEngland
e2idesign
aslansplace
oasisspacville
possi
cobs
abwilderness
bhef
blossombehavioral
brownsvilleag
cctustin
geneseehillpta
kindervelt
rosehillchurch
sbcoc
thesheepfold
maddragonmusic
puccifoods
mindandmom
gwfins
influencechurch
silverstateesports
simplifiedit
TrailandUltraRunning
gtcon
kulturedcustoms
csctalkradio
sweatthestyle
foxpak
tech-sage
wanderingisite
churchhealth
sakhiyaskinclinic
petspamiami
rootdownbrewing
thefrenchartisan
mothersdayclassic
givebesa
raphahouse
tsm
budgetroofingsupply
ydlv
journeycc
miraclecitychurch
breakfreebeunstoppable
fear2peace
accadis-isb
airlockertraining
binbathers
blackglassgallery
csgo2asia
huntdrop
imtgapp
juniperboutique
mrfarmersclass
newestcomputers
seventhrule
upventur
urbanismsummit
cubecobra
meinlusa
tattoosonlamar
carrielivingston
lalaland-design
umranaysan
battcrew
oldscoolbmx
oregonseaweed
renarddrinks
eodwarriorfoundation
thefarmershouse
civicspirit
jhlord
usmmuseum
gracefamilybaptist
jrni
carolclemans
gracechurchmentor
wholelife
iempowerment
livingwatersri
locfoundation
mauliola
ophrescue
see3d
urbansurf4kids
wesleysinternational
Liquid Foundation

In [12]:
title_list = ['Chairman of the Board','President & CEO', 'CEO', 'Co-Founder', 'Business Owner', 'Director Contract Manufacturing', 'Owner', 'COO', 'Principal Engineer', 'Founder', 'Sales Supervisor', 'Sales Closer', 'Sales Representative', 'Director of Operations', 'Principal', 'President of Operations', 'Chief Executive Officer', 'CTO', 'Business Development Lead', 'Marketing Executive', 'CEO', 'Chief Executive Officer', 'C.E.O.', 'Founder', 'Co founder', 'Cofounder', 'Director of Development', 'Business Development', 'Retail', 'ecommerce', 'Digital Marketing', 'CMO', 'Chief Marketing Officer', 'CTO', 'Chief Technology Officer', 'Director of Marketing', 'Software', 'Fundraising', 'Partner', 'Donor', 'President', 'Owner', 'Partnership', 'Marketing manager']

In [15]:
len(title_list)

44

In [13]:
position_list = pd.DataFrame(title_list, columns=['Position'])

In [16]:
clean_pos = position_list.drop_duplicates()

In [ ]:
rel_pos = ['ceo','president','lead','owner','engineer','senior','chief','partner','director',
'development','officer','retail','fundraising','cto','cmo','founder','coo','chairman','honor','manager']

In [49]:
not_found = pd.DataFrame(columns=dataframe.columns)

In [50]:
add_row = dataframe.iloc[0]
add_row

Name                          Claire
Email      claire@operationmasks.org
Company              operation masks
Domain            operationmasks.org
Name: 0, dtype: object

In [51]:
new_df = pd.DataFrame(columns=['Name','Email','Company','Domain'])

In [56]:
new_df.join(add_row)

Empty DataFrame
Columns: [Name, Email, Company, Domain, 0]
Index: []

In [59]:
pd.concat([new_df,pd.Series(add_row)],ignore_index=True)

  Name Email Company Domain                          0
0  NaN   NaN     NaN    NaN                     Claire
1  NaN   NaN     NaN    NaN  claire@operationmasks.org
2  NaN   NaN     NaN    NaN            operation masks
3  NaN   NaN     NaN    NaN         operationmasks.org

In [68]:
add_row_df = pd.DataFrame([add_row], columns=new_df.columns)

# Concatenate the original DataFrame with your new row
new_df = pd.concat([new_df, add_row_df], ignore_index=True)